{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "svelteSortOrder": "options-scripts-markup-styles",
  "tailwindStylesheet": "./src/app.css"
}
